In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('ukbb_asthma_cohort_annotation_new.csv')

In [4]:
df.head()

,Unnamed: 0,IID,sex,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,age,Asthma_CohortA,Asthma_CohortB,Asthma_CohortAnotB
0,0,1000149,2,-0.0012,0.0002,-0.0003,-0.0002,-0.0005,-0.0009,-0.0006,0.0024,0.0013,-0.0004,45,1,0,1
1,1,1000306,2,-0.0011,-0.0025,0.0006,-0.0021,0.0000,0.0021,-0.0013,-0.0002,-0.0022,0.0029,69,1,0,1
2,2,1000418,1,-0.0001,-0.0004,0.0011,0.0002,-0.0003,-0.0003,0.0016,0.0022,0.0005,0.0001,67,1,0,1
3,3,1000607,2,-0.0001,0.0007,0.0003,-0.0007,0.0002,0.0002,0.0000,0.0011,-0.0003,-0.0010,47,1,0,1
4,4,1000984,2,-0.0009,-0.0012,0.0004,-0.0009,0.0011,0.0005,-0.0021,-0.0001,-0.0007,-0.0003,67,1,0,1

In [7]:
df['Asthma_CohortB'].sum()

645